.git
.cursor
.replit
.replitignore
**/.replit-artifact
**/node_modules
**/dist
**/.turbo
**/.cache
coverage
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
Dockerfile
docker-compose.yml
